.alert-custom {
  background-color: #ffeeba;
  border-color: #ffeeba;
  color: #856404;
  padding: .75rem 1.25rem;
  border-radius: .25rem;
}

.alerta {
  background-color: yellow;
}

.erro {
  background-color: red;
}

.sucesso {
  background-color: green;
}
